body {
    background-image: url(https://i.gifer.com/OBe2.gif);
    background-color: bisque;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.t1 {
    background-image: url(DSC_0001.JPG);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 400px;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
   border: black 3px inset;
   }
   .t3
   {
    
       border-radius: 100%;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       width: 50px;
       height: 50px;
       position: fixed;
       margin-left: 50%;
   
       background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpKv57ZogA7v3_nMg4SjqEtcsooDXykSQmGAHn2YIuAonTrOC55yPLwsYPYbqe_lioLkM&usqp=CAU);
   }
   .t2
   {
       border-radius: 100%;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       width: 50px;
       height: 50px;
       position: fixed;
       margin-left: 45%;
       background-image: url(https://play-lh.googleusercontent.com/VRMWkE5p3CkWhJs6nv-9ZsLAs1QOg5ob1_3qg-rckwYW7yp1fMrYZqnEFpk0IoVP4LM);
   }
   h3 {
       color: #ffffff;
       font-size: 18px;
       text-align: center;
       font-size: 25px;
       font-weight: 500;
       font-style: italic;
       width: 500px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       background-color: rgba(0, 0, 0, 0.801);
       border: #ffffff inset 3px;
   }




   